@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .auth__layout {
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login__form {
    @apply container p-px max-w-[500px] w-full rounded-lg bg-gradient-to-br from-primary-600 via-indigo-700 to-secondary-200;
  }

  .dashboard {
    @apply flex md:flex-row flex-col md:h-screen relative;
  }

  .sidemenu {
    @apply h-screen flex flex-col -left-[100%] md:relative md:left-0 backdrop-blur-sm bg-stone-950/90 max-w-72 w-full py-10 px-8;
  }

  .sidemenu__logo {
    @apply font-extrabold text-xl mb-10 flex flex-col items-center rounded-xl backdrop-blur-lg bg-gradient-to-br from-primary-600 via-indigo-700 to-secondary-200 overflow-hidden;
  }

  .sidemenu__link {
    @apply flex gap-4 items-center p-3 rounded-lg font-semibold transition-colors duration-1000 hover:bg-gradient-to-tr from-primary-700 to-indigo-600 cursor-pointer;
  }

  .sidemenu__link span {
    @apply text-primary text-xl;
  }

  .sidemenu__link:hover span {
    @apply text-white;
  }

  .sidemenu__link--active {
    @apply bg-gradient-to-br from-primary-600 via-indigo-700 to-secondary-200;
  }

  .sidemenu__link--active span {
    @apply text-white;
  }

  .set-image-bg {
    background: url("../assets/images/dddepth.png") no-repeat,
      linear-gradient(
        to bottom right,
        rgba(6, 149, 255, 1),
        rgba(67, 56, 202, 1),
        rgba(72, 24, 120, 0.8)
      );
    background-position: 0cqmax;
  }

  .set-image-bg2 {
    background: url("../assets/images/dddepth.png") no-repeat;
    background-position: 0cqmax;
  }

  .header {
    @apply flex w-full h-full py-16 px-10 flex-col gap-4 md:flex-row justify-between md:items-center backdrop-blur-0 bg-slate-800/30;
  }

  .product__list {
    @apply grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;
  }

  .product__card {
    @apply bg-stone-900 max-w-[250px] p-4 rounded-md flex flex-col gap-4;
  }

  .cart__item {
    @apply flex bg-stone-900 px-3 py-4 gap-4 items-center rounded-lg;
  }

  .checkout {
    @apply container pt-8 grid grid-cols-5 gap-8;
  }

  .checkout__form {
    @apply bg-stone-900 p-6 rounded-lg space-y-4;
  }
}

@layer components {
  .container {
    @apply max-w-[90%] mx-auto;
  }

  .btn_primary {
    @apply bg-gradient-to-br from-primary-600 via-indigo-700 to-secondary-200;
  }
  .btn_secondary {
    @apply bg-gradient-to-br from-primary-700 via-indigo-600 to-secondary-200;
  }
}
